/* this is a comment */

/*
font-family: "Lucida Bright", Georgia, serif ;

font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter" ;

colors: 
#eae7dc white beige
#d8c3a5 beige
#8e8d8a grey
#e98074 light red
#e85a4f red
*/

body {
    background-color:#eae7dc;
    font-family:"Lucida Bright", Georgia, serif ;
    
}

h1 { 
    font-size: 300% ;
    background-color: #d8c3a5;
    color:#2c3531;
    width:60%;
    border-radius: 10px;
    padding: 10px;
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
    
    
}

h2 {
    font-size: 175%;
    background-color: #d8c3a5;
    color:#2c3531;
    margin-top:5px;
    margin-bottom:5px;
}

h3 {
    background-color: #d8c3a5;
    color:#022449;
}

p {
    color:#d8c3a5;
    font-size: 100%;
    background-color: #2c3531;
}

img {
    background-color:none;
}

div {
    border-width: 0px;
    border-style: solid;
    border-color:#e98074 ;
    border-radius: 10px;
    padding: 10px;
    margin:auto;
}

.left {
    float: left;
    
}

.right {
    float: right;
}

#container {
    background-color: #2c3531;
    
}

#header {
    clear:both;
    
}

#section1 {
    background-color:#eae7dc;
    display:flex;
    padding:10px;  

}

#section2 {
    background-color:#eae7dc ;
    display:flex;
    padding:10px;
    margin-top:5px;
}

#section3 {
    background-color:#eae7dc ;
    margin:auto;
    margin-top:5px;
}


#paragraph {
    background-color: #2c3531;
    width: 75%;
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom:10px;
    padding:15px;
    
}

#h1 {
    text-align:center;
    margin:auto;
}

#h2 {
    background-color: #d8c3a5;
    text-align: center;
    width:50%;
    padding-top:0px;
    padding-bottom:0px;
    
}

#links {
    text-align: center;
    margin:auto;
    margin-top:5px;
    padding:5px;
    background-color: #eae7dc;
}

#footer {
    
    text-align: center;
    margin:auto;
    margin-top:5px;
    text-transform: uppercase;
    font-size: 60%;
    background-color: #eae7dc;
}